* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  background-color: #5a5656;
}

.form {
  max-width: 550px;
  margin: 0px auto;
  color: #fff;
  padding: 30px;
}

.form__body {
  position: relative;
}

.form__body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/sending.gif") center/70px no-repeat;
  background-color: rgba(46, 43, 43, 0.7);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form__body.sending::after {
  opacity: 1;
  visibility: visible;
}

.form__title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}

.form__item {
  margin-bottom: 20px;
}

.form__label {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

.form__input {
  height: 50px;
  padding: 0px 20px;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form__input:focus {
  -webkit-box-shadow: 0 0 15px #7a956b;
          box-shadow: 0 0 15px #7a956b;
}

.form__input.error {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
}

.form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 60px;
  background-color: #17a02e;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 0 #29441b;
          box-shadow: 0 5px 0 #29441b;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  position: relative;
  top: 0;
}

.form__button:hover {
  background-color: #0e6b0e;
}

.form__button:active {
  top: 3px;
  -webkit-box-shadow: 0 1px 0 #29441b;
          box-shadow: 0 1px 0 #29441b;
}

.form * {
  outline: none;
}

textarea.form__input {
  min-height: 120px;
  resize: vertical;
  padding: 0px 20px;
}

.options {
  padding-top: 10px;
}

.options__item {
  margin-bottom: 10px;
}

.options__input {
  display: none;
}

.options__input:checked + .options__label::after {
  -webkit-transform: translate(0%, 0%) rotate(0deg) scale(1);
          transform: translate(0%, 0%) rotate(0deg) scale(1);
}

.options__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  line-height: 140%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.options__label::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
}

.options__label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #099c15;
  -webkit-transform: translate(0%, 0%) rotate(0deg) scale(0);
          transform: translate(0%, 0%) rotate(0deg) scale(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.select {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  font-size: 18px;
  padding: 0px 20px;
}

.file__item {
  position: relative;
}

.file__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}

.file__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-height: 40px;
  border-radius: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f769e4;
  padding: 0px 20px;
}

.file__preview {
  display: inline-block;
  max-width: 100px;
  padding-top: 10px;
}

.file__preview img {
  max-width: 100%;
}

.checkbox.error.checkbox__label::before {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked + .checkbox__label::after {
  -webkit-transform: translate(0%, 0%) rotate(0deg) scale(1);
          transform: translate(0%, 0%) rotate(0deg) scale(1);
}

.checkbox__label {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 140%;
  cursor: pointer;
}

.checkbox__label a {
  color: #25df25;
}

.checkbox__label::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  height: 24px;
  border-radius: 4px;
  background-color: #fff;
  margin-right: 10px;
}

.checkbox__label::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 4px;
  left: 4px;
  background-color: #189423;
  border-radius: 4px;
  -webkit-transform: translate(0%, 0%) rotate(0deg) scale(0);
          transform: translate(0%, 0%) rotate(0deg) scale(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
